body {
  width: 100%;
}

th {
  vertical-align:top;
}

td {
    padding:0px;
    vertical-align:center;
}

th {
  text-align:center;
}

ul {
   margin:0;
}
table, tr, th, td {
  border: 1;
}

body {
  width:100%;
}

th {
  vertical-align:top;
}

td {
  padding-bottom:20px;
}


th {
  text-align:left;
  padding-right:2em;
}

ul {
	margin:0;
}

    html {
      background:#ffffff;
      height: 100%;
      width:100%;
      padding:0;
    }
    body {
      background:white;
      border:1px solid rgb(255, 255, 255);
      width:900px;
      min-height: 100%; /* Allows body to grow with content */
      margin: 0 auto; /* Remove default body margin */
      min-height: 100vh;
      padding:0;
    }
  

h1 { font-family: "Sorts Mill Goudy"; font-size: 34px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 34px; } h3 { font-family: "Sorts Mill Goudy"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 14px; } p { font-family: "Sorts Mill Goudy"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 14px; } blockquote { font-family: "Sorts Mill Goudy"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Sorts Mill Goudy"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }


table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #90b0f5; 
      color: rgb(0, 0, 0); 
    }
    
#special-text {
    color: hsl(0, 1%, 29%); 
}
